{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

  <title>
    {% block title %}
    Musika
    {% endblock %}
  </title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "base.css" %}" />

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-custom">
      <a class="navbar-brand" href="{% url "home" %}">Musika</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url "songs" %}">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Artists</a>
          </li>
        </ul>
        <form class="nav-item form-inline my-sm-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search the song" aria-label="Search">
          <button class="btn my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

  {% block content %}

  Default Content

  {% endblock %}

</body>

</html>
